<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random Word Generator</title>
</head>
<body>
	<div class='container'>
		<p>Random Word (attempt #{{request.session.counter}})</p>
		<div>
			<h1>{{request.session.random_word}}</h1>
		</div>
		<a href="/generate"><button>Generate</button></a>
		<a href="/reset"><button>Reset</button></a>
	</div>
</body>
</html>