<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Welcome</title>
</head>
<body>
	<div class="container">
		<div class="row">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h1>Success! Welcome, {{request.session.first}}!</h1>
				<p>Successfully registered (or logged in)!</p>
			</div>
			<div class="col-sm-6">
				<form action="/logout" method="post">
					{% csrf_token %}
					<input type="hidden">
					<button type="submit" class="btn btn-danger">Logout</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>