<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ninja Gold</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">   
</head>
<body>
	<div id='score_bar'>
		<p>Your Gold: </p>
		<p id="gold">{{request.session.gold_total}} gold pieces</p>
	</div>
	<div id='locations'>
		<div class='place'>
			<p class='placeName'>Farm</p>
			<p class='placeDescription'>(earns 10-20 golds)</p>
			<form action="/process_money" method="POST">
				{% csrf_token %}
				<input id="gold" name="gold" type="hidden" value={{request.session.farm}}>
				<input type='submit' value='Find Gold!'> 
			</form>
		</div>
		<div class='place'>
			<p class='placeName'>Cave</p>
			<p class='placeDescription'>(earns 5-10 golds)</p>
			<form action="/process_money" method="POST">
				{% csrf_token %}
				<input id="gold" name="gold" type="hidden" value="{{request.session.cave}}">
				<input type='submit' value='Find Gold!'> 
			</form>
		</div>
		<div class='place'>
			<p class='placeName'>House</p>
			<p class='placeDescription'>(earns 2-5 golds)</p>
			<form action="/process_money" method="POST">
				{% csrf_token %}
				<input id="gold" name="gold" type="hidden" value={{request.session.house}}>
				<input type='submit' value='Find Gold!'> 
			</form>
		</div>
		<div class='place'>
			<p class='placeName'>Casino</p>
			<p class='placeDescription'>(earns/takes 0-50 golds)</p>
			<form action="/process_money" method="POST">
				{% csrf_token %}
				<input id="gold" name="gold" type="hidden" value="{{request.session.casino}}">
				<input type='submit' value='Find Gold!'> 
			</form>
		</div>
	</div>
	<div id='activities'>
		<p class='title'>Activities</p>
		<div id='list'>
			{% for entry in request.session.activities %}
			<p>{{entry}}</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>