* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    display: block;
    background-color: #1b335d;
    padding: 10px;
    width: 970px;
}
#header {
    background-color: #cf3036;
    display: block;
    border-radius: 10px;
    color: #c2d6ec;
    font-size: 24pt;
    padding: 15px;
    font-weight: bold;
    width: 940px;
    margin-bottom: 20px;
}
#middle {
    display: flex;
    width: 970px;
    margin: 0px;
}
#menu {
    background-color: #2a7d8c;
    flex: 1;
    display: block;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10px;
    color: #c2d6ec;
    width: max-content;
    height: max-content;
    font-weight: bold;
}
#menu ul {    
    padding-left: 30px;

}
#menu li {
    margin: 5px;
}
#menu, a {
    color: #6adde5;
}
#content {
    flex: 4;
    background-color: #0e1822;
    display: inline-block;
    border-radius: 15px;
    width: 100px;
    padding: 25px;
    margin-left: 10px;
    color: #c2d6ec;
    vertical-align: top;
}
#content ul {
    padding-left: 30px;
}
#footer {
    background-color: #5d6673;
    display: flex;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    width: 930px;
}

span.code {
    color: slateblue ;
}