html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#score_bar {
	background-color: #585B56;
	color: #E76B74;
	font-weight: bolder;
	font-size: x-large;
	padding: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#gold {
	border-style: solid;
	border-width: medium;
	width: 25vw;
	align-content: right;
	margin: 1em;
	padding: 1em;
}

#locations {
	background-color: #D7AF70;
	padding: 2em;
	display: flex;
	justify-content: space-evenly;
}

.place {
	background-color: #585B56;
	height: 20vh;
	width: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 1em;
	color: #E76B74;
}

.placeName {
	font-size: xx-large;
	font-weight: bolder;
}

.placeDescription {
	font-size: large;
	font-weight: bold;
}

#activities {
	padding: 1em;
	font-size: large;
	background-color: #937D64;
	color: #EA526F;
	display: flex;
	height: auto;
}

.title {
	font-size: x-large;
	font-weight: bolder;
}

#list {
	background-color: white;
	height: 15vh;
	width: 50vw;
	margin: 1em;
}