* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline ;
}

.headerImage {
    width: 25vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    height: 10vw;
    width: 10vw;
    margin: 3%;
}

.image img {
    border-width: thick;
    border-color: black;
    border-style: solid;
    height: 100%;
    width: 100%;
    padding:25%;
    margin: 15%;
}

.blueImage {
    background-color: #82b4ee;
}

.whiteImage {
    background-color:white;
}

.redImage {
    background-color: red;
}

body {
    background-color: #d5d2ae;
}

header {
    margin-top: 5vh;
}

main {
    height: 100vh;
}